@media only screen and (min-width: 1024px) {

  .mainSection {
    position: relative;
    min-height: 49.03vw;
    background: 
      linear-gradient(180deg, rgba(15, 24, 57, 0.62) 0%, rgba(30, 30, 30, 0.62) 100%), 
      url('./../assets/img/dashboard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: growBackground 25s infinite;
    margin: 0 -9.03vw;
    padding: 0 9.03vw;
  }

  .topNavbar {
    position: relative;
    top: 4.24vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.68vw;
    background-color: #11121961;
    margin: 0 -9.03vw;
    padding: 0 9.03vw;
  }

  .noColorNavbar {
    background-color: transparent !important;
  }

  .logoHolder {
    width: 4.1vw;
    height: 4.65vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .logo {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .linksHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.78vw;
    white-space: nowrap;
  }

  .linksHolder .dark {
    color: #696969;
  }

  .link {
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.11vw;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0.56vw;
  }

  .active {
    color: #2BCDBA !important;
  }

  .buttonHolder {
    margin-left: auto;
  }

  .button {
    font-family: "Inika";
    font-weight: 500;
    font-size: 1.11vw;
    border: transparent;
    border-radius: 1.11vw;
    background-color: #229F90;
    color: #FFFFFF;
    cursor: pointer;
    padding: 1.04vw 3.89vw;
  }

  .dashboardHolder {
    position: relative;
    top: 11.62vw;
    display: flex;
    flex-direction: column;
    gap: 2.14vw;
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1s forwards, moveLeft 0.5s ease-in 1s forwards;
  }

  .dashboardTitle {
    width: 54.31vw;
    font-family: "Inika";
    font-weight: 400;
    font-size: 4.86vw;
    color: #FFFFFF;
  }

  .fontWeightBold {
    font-weight: 700 !important;
  }

  .dashboardText {
    width: 47.36vw;
    line-height: 1.51vw;
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.25vw;
    color: #FFFFFF;
  }

  .dashboardButton {
    width: fit-content !important;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 1.5s;
    padding: 1.04vw 9.1vw !important;
  }

  .moreSection {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.67vw;
    background-color: #ffffff;
    margin-top: 7.15vw;
    margin-bottom: 4.17vw;
  }

  .moreLeftSide {
    display: flex;
    flex-direction: column;
    gap: 1.39vw;
  }

  .moreRightSide {
    position: relative;
    min-width: 33.06vw;
    height: 24.72vw;
    border-radius: 2.39vw;
    overflow: hidden;
  }

  .moveLeftAnimation {
    animation: moveLeft 0.5s ease-out forwards;
  }

  .moveUpAnimation {
    animation: moveUp 1s ease-out forwards;
  }

  .moreTitle {
    font-family: "Inika";
    font-weight: 400;
    font-size: 2.78vw;
    color: #131418;
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
    animation-delay: 0.3s;
  }

  .greenTextColor {
    font-weight: 700 !important;
    color: #229F90 !important;
  }

  .moreText {
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.11vw;
    color: #131418;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s;
  }

  .moreButton {
    width: fit-content;
    border: 1px solid #229F90 !important;
    background-color: #FFFFFF !important;
    color: #229F90 !important;
    opacity: 0;
    animation: fadeIn 1.2s ease-in forwards;
    animation-delay: 0.7s;
    padding: 1.04vw 4.65vw !important;
  }

  .image {
    min-width: 100%;
    height: 100%;
    transform: scale(1.2);
    animation: shrinkBackground 5s forwards;
    animation-delay: 0.3s;
  }

  .greenLayer {
    position: absolute;
    bottom: 0;
    min-width: inherit;
    height: 14.17vw;
    background-color: #229F902E;
    border-radius: 2.36vw;
    z-index: 100;
  }

  .provideServicesSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.39vw;
    background-color: #FAFAFA;
    margin: 0 -9.03vw;
    padding: 1.39vw 9.03vw 4.38vw 9.03vw;
  }

  .provideServicesTitle {
    font-family: "Inika";
    font-weight: 400;
    font-size: 2.08vw;
    color: #131418;
  }

  .provideServicesText {
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.11vw;
    color: #131418;
  }

  .otherServicesSection .container,
  .provideServicesCardContainer {
    display: flex;
    flex-direction: row;
    gap: 1.39vw;
  }

  .cardHolder {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.56vw;
    border: 1px solid #E7E6E6;
    border-radius: 1.11vw;
    background-color: #FFFFFF;
    transform: translateY(4vw);
    padding: 1.67vw 1.39vw;
  }

  .cardHolder:nth-child(1) {
    animation-delay: 0s;
  }

  .cardHolder:nth-child(2) {
    animation-delay: 0.2s;
  }

  .cardHolder:nth-child(3) {
    animation-delay: 0.4s;
  }

  .cardHolder:nth-child(4) {
    animation-delay: 0.6s;
  }

  .iconHolder {
    width: 2.22vw;
    height: 2.22vw;
  }

  .icon {
    width: 100%;
    height: 100%;
  }

  .cardTitle {
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.11vw;
    color: #131418;
  }

  .cardText {
    font-family: "Inika";
    font-weight: 400;
    font-size: 0.83vw;
    color: #131418;
    margin-bottom: 1vw;
  }

  .provideServicesButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.35vw;
    width: 100%;
    border-radius: 0.83vw !important;
    opacity: 1;
    animation: none !important;
    margin-top: auto !important;
    padding-top: 0.78vw !important;
    padding-bottom: 0.78vw !important;
  }

  .provideServicesButton img {
    width: 1.39vw;
    height: 1.39vw;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .provideServicesButton:hover img {
    transform: rotateX(360deg);
  }

  .constructionSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.39vw;
    background-color: #FFFFFF;
    padding-top: 4.17vw;
    padding-bottom: 11.2vw;
  }

  .constructionSection h2 {
    font-family: "Inika";
    font-weight: 400;
    font-size: 2.08vw;
    color: #131418;
  }

  .constructionSection p {
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.11vw;
    color: #131418;
  }

  .constructionImagesHolder {
    display: flex;
    flex-direction: row;
    gap: 1.39vw;
    width: 100%;
  }

  .constructionImagesHolder .leftSide {
    position: relative;
    display: inline-block;
    width: 40.21vw;
    border-radius: 1.34vw;
    overflow: hidden;
  }

  .constructionImagesHolder .leftSide a img {
    display: block;
    width: 100%;
    height: auto;
  }

  .constructionImagesHolder .leftSide a .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #16182699;
    z-index: 1;
    pointer-events: none;
  }

  .constructionImagesHolder .leftSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../assets/img/image_2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: transform 0.8s ease;
    pointer-events: none;
    z-index: 1;
  }

  .constructionImagesHolder .leftSide:hover::before {
    transform: scale(1.1);
  }

  .constructionImagesHolder .leftSide:hover a img {
    transition: transform 0.8s ease;
  }

  .constructionImagesHolder .rightSide {
    display: flex;
    flex-direction: row;
    gap: 1.39vw;
  }

  .constructionImagesHolder .rightSide .columns {
    display: flex;
    flex-direction: column;
    gap: 0.69vw;
  }

  .constructionImagesHolder .rightSide .columns .topImageHolder {
    position: relative;
    display: inline-block;
    width: 19.41vw;
    border-radius: 1.11vw;
    overflow: hidden;
  }

  .constructionImagesHolder .rightSide .columns .topImageHolder a img {
    display: block;
    width: 100%;
    height: auto;
  }

  .constructionImagesHolder .rightSide .columns .topImageHolder a .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #16182699;
    z-index: 1;
    pointer-events: none;
  }

  .constructionImagesHolder .rightSide .columns .topImageHolder::before,
  .constructionImagesHolder .rightSide .columns .bottomImageHolder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: transform 0.8s ease;
    pointer-events: none;
    z-index: 1;
  }

  .constructionImagesHolder .rightSide .columns .first::before {
    background-image: url('./../assets/img/image_3.jpg');
  }

  .constructionImagesHolder .rightSide .columns .second::before {
    background-image: url('./../assets/img/image_4.jpg');
  }

  .constructionImagesHolder .rightSide .columns .third::before {
    background-image: url('./../assets/img/image_5.jpg');
  }

  .constructionImagesHolder .rightSide .columns .fourth::before {
    background-image: url('./../assets/img/image_6.jpg');
  }

  .constructionImagesHolder .rightSide .columns .topImageHolder:hover::before,
  .constructionImagesHolder .rightSide .columns .bottomImageHolder:hover::before {
    transform: scale(1.1);
  }

  .constructionImagesHolder .rightSide .columns .topImageHolder:hover a img,
  .constructionImagesHolder .rightSide .columns .bottomImageHolder:hover a img {
    transition: transform 0.8s ease;
  }

  .constructionImagesHolder .rightSide .columns .bottomImageHolder {
    position: relative;
    display: inline-block;
    width: 19.41vw;
    border-radius: 1.11vw;
    overflow: hidden;
  }

  .constructionImagesHolder .rightSide .columns .bottomImageHolder a img {
    display: block;
    width: 100%;
    height: auto;
  }

  .constructionImagesHolder .rightSide .columns .bottomImageHolder a .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #16182699;
    z-index: 1;
    pointer-events: none;
  }

  .servicesTopSection {
    width: 100%;
    margin-bottom: calc(4.24vw + 2.78vw);
  }

  .servicesInfoHolder {
    position: relative;
    top: 4.24vw;
    margin-top: 3.47vw;
  }

  .servicesInfoHolder h1 {
    font-family: "Inika";
    font-weight: 400;
    font-size: 2.08vw;
    color: #131418;
    margin-bottom: 0.69vw;
  }

  .servicesInfoHolder p {
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.11vw;
    color: #131418;
  }

  .servicesListSection {
    position: relative;
    width: 100%;
    height: 43.96vw;
    margin: 0 -9.03vw;
    padding: 0 9.03vw;
  }

  .servicesListSection .container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .servicesListSection .container .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25vw;
    width: 25.21vw;
    height: inherit;
    background: linear-gradient(180deg, rgba(90, 74, 40, 0.5) 0%, rgba(51, 40, 9, 0.5) 100%);
    z-index: 10;
    padding: 0 0.97vw;
  }

  .servicesListSection .container .leftSide h2 {
    font-family: "Inika";
    font-weight: 700;
    font-size: 1.39vw;
    color: #E1C532;
  }

  .servicesListSection .container .leftSide ul {
    display: flex;
    flex-direction: column;
    gap: 2.15vw;
  }

  .servicesListSection .container .leftSide ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    list-style-type: none;
  }

  .container .leftSide ul li img {
    position: relative;
    width: 1.53vw;
    height: 1.53vw;
  }

  .container .leftSide ul li p {
    font-family: "Inika";
    font-weight: 400;
    font-size: 1.38vw;
    color: #FFFFFF;
  }

  .servicesListSection .container .rightSide {
    width: 71.27vw;
    height: 100%;
    overflow: hidden;
    margin-right: -9.03vw;
  }

  .servicesListSection .container .rightSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .servicesListSection .container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4C3B0DA3;
    z-index: 1;
    pointer-events: none;
  }

  .otherServicesSection {
    position: relative;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0 -9.03vw;
    padding: 2.78vw 9.03vw 6.11vw 9.03vw;
  }

  .otherServicesSection .titleHolder {
    margin-bottom: 2.78vw;
  }

  .otherServicesSection .titleHolder h2 {
    font-family: "Inika";
    font-weight: 400;
    font-size: 2.08vw;
    color: #131418;
  }

  .otherServicesSection .container .cardHolder {
    transform: translateY(0);
  }
}