@import "media_mobile.css";
@import "media_tablet.css";
@import "media_desktop.css";

@font-face {
  font-family: Inika;
  src: url('./../assets/fonts/Inika-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Inika;
  src: url('./../assets/fonts/Inika-Bold.ttf');
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(2vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(4vw);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes growBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes shrinkBackground {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inika";
  font-size: 16px;
  height: auto;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #FFFFFF;
  animation: fadeIn 0.5s ease-in;
}

.noScroll {
  overflow: hidden !important;
}

input[type="button"],
input[type="submit"],
button {
  border: 0;
}

@media only screen and (min-width: 1024px) {

  body {
    padding: 0 9.03vw;
  }
}