/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* Import the Inika font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body {
  font-family: 'Inika', serif;
  color: #131418; /* Default text color */
}

/* Largest Text */
.largest-text {
  font-size: 70px;
  color: #229f90;
  font-weight: 400;
}

/* Secondary Text */
.secondary-text {
  font-size: 40px;
  color: #11685e;
  font-weight: 400;
}

/* Headings */
.heading {
  font-size: 40px;
  font-weight: 700; /* Bold */
  color: #11685e;
}

/* Medium Text */
.medium-text {
  font-size: 20px;
  font-weight: 400;
  color: #229f90;
}

/* Small Text */
.small-text {
  font-size: 16px;
  font-weight: 400;
  color: #229f90;
}

/* Smallest Text */
.smallest-text {
  font-size: 12px;
  font-weight: 400;
  color: #131418;
}
